body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f3fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
.active-link{
  my: 2;
  color: white;
  display: block;
  margin: auto 32px;
  cursor: default;
  fontFamily: monospace;
  fontWeight: 700;
}

.non-active-link{
  color: lightgrey;
  my: 2;
  display: block;
  margin: auto 32px;
  cursor: default;
  fontFamily: monospace;
  fontWeight: 700;
}

.league-link{
  fontWeight: 700;
  color: black;
  cursor: default;
}